/* button{
    background-color: #34e03a;
    padding: 0.7em 1em; 
    border-radius: 25px; */
    /* transition-property: border-radius;
    transition-duration:10s;
    transition-timing-function: ease-in-out;
     */
     /* transition:all 1s ease-in-out;
     transform: rotate(70deg) translate(100%, 100%) scale(1.5)skew(20deg);
     box-shadow: 10px 10px gold;
     border: 8px sloid black;
     */
  
/* }
button:hover{
    /* width: 10px;  */
    /* border-radius: 50%; */

/* }  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;  
    width: 100vw;
    
}
div{
    border: 5px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circle;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes circle{

    0%{
        border-radius: 0%;
        background-color: rgba(135, 8, 8, 1);
        transform: translate(150px, 170px);
    }
    50%{
        border-radius: 50%;
        background-color: rgba(8, 135, 8, 1);
        transform: translate(170px, 190px);
    }
    75%{
        border-radius: 25%;
        background-color: rgba(8, 8, 135, 1);
        transform: translate(190px, 170px);
    }
    100%{
        border-radius: 0%;
        background-color: rgba(135, 8, 8, 1);
        transform: translate(150px, 150px);
    }

}